@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
html, body {
  overflow-x: hidden;
}

.nav{
  height: 580px;
}

.about{
  height: 650px;
}

/* .me{
  height: 750px;
} */

/* .projects{
  height: 1500px;
} */

.project{
  height: 450px;
}

/* .skills{
  height: 800px;
} */

.skill{
  height: 90px;
  margin-left: 130px;
}

.skills1{
  height: 160px;
  width: 350px;
}
.head{
  /* margin-left: 150px; */
}

.net{
  margin-left: 100px;
}

.form{
  width: 600px;
}